/*
   New Perspectives on HTML and CSS
   Final Exam
   

   Tables Style Sheet
     Author: Blake Stevens 
     Date:   6/11/2020

   Filename: finalExam.css

*/

 

 body {
     font-family: Verdana, Tahoma, sans-serif;
     font: black;
     width: 85%;
     margin: auto;
     background-color: rgb(70, 82, 70);
 }
 header {
   background-color: rgb(225, 247, 225);
 }

header  h1 {
  font-size: 36pt;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0pt;
  padding-left: 15px;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgb( rgb(203, 204, 118));
}
header  h3 {
  font-size: 24pts;
  margin: 0px;
  padding-bottom: 15pt;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 0px;
}

h1 {
  font-family: Arial;
  font-size: 22pt;
  text-align: left;
  letter-spacing: 2px;
  margin: 0px;
  padding: 15px 0px 0px 15px;
  font: navy;
}
 h3 {
   font-family: Arial;
   font-size: 16pt;
   text-align: left;
   font-style: gold;
 }
  p {
   margin: 15px;
   padding: 15px;
    }

 table {
   border: none;
 }
section#Assignments {
  margin-left: 50%;
  background-color: rgb(157, 216, 157);
}
section#AboutMe {
  margin-left: 50%;
 background-color:rgb(157, 216, 157);
}
nav {
  background-color: rgb(157, 216, 157);
  font: rgb(black);
  text-align: center top;
  width: 25%;
  margin: 0px;
  padding: 0px;
  height: 200px;
}
